.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 16px;
    margin-top: -96px;
  }
  
  .login-paper {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-form {
    width: 100%;
    margin-top: 16px;
  }
  
  .login-error {
    margin-top: 16px;
    text-align: center;
  }
  
  .login-submit {
    margin-top: 24px !important;
  }